.chartdata{
    border: 1px solid var(--text-color);
    height: 15rem;
    width: 18rem;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    &:hover{
        background: black;
        cursor: pointer;
        :nth-child(1){
            color: white;
        }
        :nth-child(2){
            color: white;
        }
        :nth-child(3){
            color: white;
        }
        :nth-child(4){
            color: white;
        }
    }
    :nth-child(1){
        font-size: 14px;
        font-weight: 400;
    }
    :nth-child(2){
        font-size: 20px;
        font-weight: 500;
    }
}