.topnav {
  flex: 5;
  .menu_icon{
    font-size: 2rem;
    position: absolute;
    top: .7rem;
    left: 4rem;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2rem;
    gap: 1.5rem;
    .profile, .logout{
      display: flex;
      font-size: 1.7rem;
    }
  }
  .flex_container {
    display: flex;
    justify-content: space-between;

  }
}


@media screen and (min-width: 320px) and (max-width: 375px) {
  .topnav{
 
   width: 50rem;
   ul{
    margin-left: 21rem;
   }
  }
}


