.topnav {
  flex: 5;
  .menu_icon {
    font-size: 2rem;
    position: absolute;
    top: 0.7rem;
    left: 3rem;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2rem;
    gap: 1.5rem;
    .profile,
    .logout {
      display: flex;
      font-size: 1.7rem;
      .icon {
        font-size: 1.9rem;
      }
    }
  }
  .flex_container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .topnav {
    .menu_icon {
      left: 2.2rem;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .topnav {
    .menu_icon {
      left: 1.7rem;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .topnav {  
    ul {
      margin-left: 21rem;
    }
  }
}

@media screen and (min-width: 20px) and (max-width: 319px) {
  .topnav {
    .menu_icon{
      left: 1.2rem;
    }
    ul {
      margin-left: 21rem;
    }
  }
}
