.search{
    width: 15rem;
    height: 3rem;
    border-radius: 4px;
    border: 1px solid var(--gray-100);
    display: flex;
    padding-left: 1rem;
    align-items: center;
    & > input{
        width: 10rem;
        height: 2rem;
        border: none;
        font-size: 1.1rem;
        &::placeholder{
            font-size: 1.1rem;
            color: var(--gray-700);
            font-weight: 400;
        }

        &:focus{
            outline: none;
        }
    }
    .search_icon{
        justify-content: flex-end;
        margin-left: 2rem;
        font-size: 1.4rem;
    }
}